.headerformat{
    background-color: black;
    height: 200px;
    align-items: center;
    padding-top: 10px;
}   

.texto{
    margin: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo{
    width: 225px;
    height:140px;
    position: absolute;
    top: 0;
    left: 0;
}   